h1 {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}
h1 span {
  font-weight: 500;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.form p {
  margin-bottom: 20px;
  text-align: center;
}

.form label {
  font-size: 13px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label input {
  font-size: 14px;
  border: 1px solid #252525;
  border-radius: 5px;
  padding: 6px 12px;
  display: block;
  width: 100%;
  max-width: 500px;
  margin-top: 6px;
}

#link-container {
  display: none;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#link-container span {
  font-size: 14px;
}
